body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}


.container {
    margin: 0px 293px;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-line {
    padding-top: 0px;
    display: flex;
    align-items: center;
}

.header {
    background-color: #dedede;
}

.nav-item {
    color: #1f1e1e;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;

    margin-right: 25px;
}

.button {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #1f1e1e;
    border: 1px solid black;
    padding: 15px 40px;
}
